$headerH: 6rem;
header {
	height: $headerH;
	position: relative;
	@include inner;
	h1 {
		font: 1rem/1 $fontPoint;
		width: 5rem;
		height: 5rem;
		position: absolute;
		left: 1rem;
		top: 50%;
		margin-top: -2.5rem;
		a {
			display: block;
			width: 100%;
			height: 100%;
			border: 3px solid #333;
		}
	}
	.mo_btn {
		width: 3rem;
		height: 2rem;
		position: absolute;
		right: 1rem;
		top: 50%;
		transform: translateY(-50%);
		.bars {
			width: 100%;
			height: 100%;
			.bar {
				display: block;
				width: 80%;
				height: 3px;
				background: #000;
				position: absolute;
				// transform: rotate(-45deg);
				&.top {
					top: 0;
					margin-left: 20%;
				}
				&.center {
					width: 100%;
					top: 50%;
					margin-top: -1.5px;
				}
				&.bottom {
					bottom: 0;
					margin-left: 20%;
				}
			}
		}
	}
	#gnb {
		width: 100%;
		height: calc(100vh - $headerH);
		position: fixed;
		top: $headerH;
		left: 0;
		background: #eee;
		font-family: $fontPoint;
		padding: 6rem 3rem;
		li {
			margin-bottom: 2rem;
			a {
				font-size: 2rem;
			}
		}
		.join {
			font-size: 2rem;
			position: absolute;
			bottom: 1rem;
			right: 1rem;
		}
	}
}

.header_main {
	width: 100%;
	position: fixed;
	background: linear-gradient(to bottom, #fff, transparent);
	#gnb {
	}
}
@include mobile {
	$headerH: 8rem !global;
	header {
		height: $headerH;
		h1 {
			width: 6rem;
			height: 6rem;
			margin-top: -3rem;
		}

		#gnb {
			height: calc(100vh - $headerH);
			top: $headerH;
			li a {
				font-size: 3rem;
			}
		}
	}
}
@include miniTable {
	header {
		h1 {
			z-index: 10;
		}
		.mo_btn {
			display: none;
		}
		#gnb {
			width: 100%;
			height: $headerH;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			padding: 0;
			background: transparent;
			ul {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				li {
					margin-right: 4rem;
					margin-bottom: 0;
					a {
						font-size: 1.6rem;
					}
				}
			}
			.join {
				font-size: 1.6rem;
				bottom: 50%;
				transform: translateY(50%);
			}
		}
	}
}
