.content {
	.title_box {
		position: relative;
		// padding: 10rem 0;
		figure {
			width: 100%;
			height: 10rem;
			// position: absolute;
			// top: 0;
			// left: 0;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
		h2 {
			font: 4rem/1 $fontPoint;
			max-width: 1180px;
			margin: 0 auto;
			color: rgba($colorBk, 0.6);
			text-transform: uppercase;
			letter-spacing: 2px;
			opacity: 0;
			transform: translateY(-1rem);
			transition: 500ms;
		}
		+ .inner {
			min-height: calc(100vh - (8rem + 14rem));
		}
	}
	&.on {
		h2 {
			opacity: 1;
			transform: translateY(-50%);
		}
	}
}
@include mobile {
	.content {
		.title_box {
			figure {
				height: 20rem;
			}
			// padding: 15rem 0;
			h2 {
				font-size: 8rem;
			}
			& + .inner {
				min-height: calc(100vh - (8rem + 30rem));
			}
		}
	}
}
@include miniTable {
	.content {
		.title_box {
			h2 {
				font-size: 10rem;
			}
		}
	}
}
