.pop {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	background: rgba(255, 255, 255, 1);
	padding: 8rem 0 3rem;
	transform-origin: top right;
	.inner {
		@include inner;
		padding: 0 3rem;
		height: 100%;
	}
	.con {
		width: 100%;
		height: 100%;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		iframe,
		video {
			width: 100%;
			max-height: 100%;
			object-fit: cover;
			border: 0;
		}
		img {
			width: auto;
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
		}
		iframe,
		video {
			height: 100%;
		}
	}
	.close {
		font: 14px/1 'arial';
		width: 3rem;
		height: 3rem;
		color: #333;
		position: absolute;
		right: 3rem;
		top: 2.5rem;
		cursor: pointer;
		&::after,
		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background: #000;
		}
		&::after {
			transform: rotate(45deg);
		}
		&::before {
			transform: rotate(-45deg);
		}
	}
}
//  투명 배경 타입
.pop_mini {
	background: transparent;
	.inner {
		width: 80%;
		max-width: 60rem;
		height: auto;
		max-height: 80%;
		position: relative;
		background: #fff;
		box-shadow: 0 0 10px rgba(100, 100, 100, 0.5);
		padding-top: 2rem;
		h2 {
			font-size: 2rem;
			font-family: $fontPoint;
			font-weight: normal;
			margin-bottom: 2rem;
		}
		input[type='text'] {
			width: 100%;
		}
	}
	.close {
		top: 2rem;
	}
}
@include tablet {
	.pop {
		.inner {
			padding-top: 0;
		}
	}
	.pop_mini {
		.inner {
			padding: 3rem 2rem;
			h2 {
				font-size: 3rem;
			}
		}
		.close {
			top: 3.5rem;
		}
	}
}
