* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: inherit;
}

::-webkit-scrollbar {
	display: none;
}

ul,
li,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

fieldset {
	border: 0;
}

.radio,
.checkbox {
	cursor: pointer;
}

.hidden {
	position: absolute;
	text-indent: -9999px;
}

html,
body {
	font-size: 10px;
	overflow-x: hidden;
	font-family: $fontDefault;
}

/* 버튼 */

.btn_wrap {
	width: 100%;
	display: flex;
	justify-content: center;
}

.btn_more {
	display: inline-block;
	margin: 0 auto;
	position: relative;
	font: 1.6rem/1 $fontPoint;
	&::after {
		content: ' ';
		display: block;
		width: 100%;
		height: 1em;
		position: relative;
		top: -0.5em;
		left: 0.7em;
		background-color: #cde4de;
		transition: 0.5s;
	}
	&:hover {
		&::after {
			background-color: #e6e7e1;
		}
	}
	span {
		position: relative;
		z-index: 1;
	}
}

.btn_normal {
	font-size: 1.6rem;
	display: inline-block;
	padding: 0.3em 1em;
	background-color: $colorBk;
	font-family: $fontDefault;
	letter-spacing: 1px;
	color: #fff;
	&:hover {
		background: $colorYellow;
	}
}

/* 스크롤 감추기 */

.scroll_hidden {
	height: 100%;
	min-height: 100%;
	overflow: hidden !important;
	touch-action: none;
}
