.scroll_navi {
	position: fixed;

	top: 50%;
	right: 50px;
	z-index: 5;
	transform: translateY(-50%);
	li {
		width: 4px;
		height: 2rem;
		background: #aaa;
		box-shadow: 1px 1px 0 #fff;
		margin-bottom: 20px;
		transform: rotate(45deg);
		transform-origin: center;
		cursor: pointer;
		&.on {
			transform: rotate(45deg) scaleY(2);
			background: $colorPoint-3;

			cursor: pointer;
			transition: transform 0.5s;
		}
	}
}
