#gallery {
	.inner {
		@include inner;
		position: relative;
	}
	h2 {
		font: 300 3.5rem/1 $fontPoint;
		margin-bottom: 1em;

		span {
			display: inline-block;
			border-bottom: 3px solid #333;
			padding-right: 0.3em;
		}
	}
	.big_text {
		display: none;
		position: absolute;
		right: 1rem;
		bottom: 0;
		z-index: 1;
		font-size: 20rem;
		font-family: $fontPoint;
		line-height: 1;
		color: rgba($colorBk, 0.3);
		pointer-events: none;
	}
	.gallery_box {
		.thumb_box {
			height: 25vw;
			ul {
				display: flex;
				height: 100%;
				li {
					width: 25%;
					height: 100%;
					padding: 0.4rem 0.2rem;
					button {
						width: 100%;
						height: 100%;
						position: relative;
						@include img;
						&::after {
							content: '';
							width: 100%;
							height: 100%;
							position: absolute;
							top: 0;
							left: 0;
							background: #fff;
							transition: opacity 0.3s;
							opacity: 0.6;
						}
					}
					&.on {
						button::after {
							opacity: 0;
						}
					}
				}
			}
		}
		.cont_box {
			width: 100%;
			height: 50vh;
			ul {
				width: 100%;
				height: 100%;
				position: relative;
				li {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;

					.pic {
						width: 100%;
						height: 100%;
						@include img;
					}
					h3 {
						width: 100%;
						font-size: 3rem;
						position: absolute;
						left: 0;
						bottom: 0;
						padding: 3em 1em;
						color: #fff;
					}
					.btn_link {
						position: absolute;
						right: 0;
						bottom: 0;
						background: #fff;
						padding: 1rem;
						border: 1px solid #fff;
					}
				}
			}
		}
	}
}
@include mobile {
	#gallery {
		h2 {
			width: 50%;
			span {
				margin-bottom: 1rem;
			}
		}
	}
}
@include miniTable {
	#gallery {
		.inner {
			display: flex;
			justify-content: space-between;
		}
		h2 {
			font-size: 4rem;
			padding-right: 4rem;
			padding-top: 4rem;
			span {
				display: table;
				margin-bottom: 0.2em;
				padding-right: 0;
			}
		}
		.big_text {
			display: block;
		}
		.gallery_box {
			width: 100%;
			max-width: 80rem;
			max-height: 70rem;
			.thumb_box {
				height: 25%;
			}
		}
	}
}
@include tablet {
	#gallery {
		h2 {
			font-weight: 100;
			font-size: 4.5rem;
			opacity: 0;
			transform: translateY(-10rem);
			transition: 0.5s;
			span {
				margin-bottom: 0.4em;
			}
		}
		.gallery_box {
			display: flex;
			.thumb_box {
				width: 10vw;
				ul {
					display: block;
					li {
						width: 100%;
						padding-right: 1em;
						&:first-of-type {
							padding-top: 0;
						}
						&:last-of-type {
							padding-bottom: 0;
						}
					}
				}
			}
			.cont_box {
				width: 80%;
				height: 100%;
			}
		}
		&.on {
			h2 {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
}
