#members {
	.inner {
		@include inner;
	}
	> .inner {
		padding-bottom: 0;
	}
	.title_wrap {
		margin-bottom: 4rem;
		h2 {
			display: inline-block;
			font-size: 3rem;
			font-family: $fontPoint;
			position: relative;
			&::after {
				content: '';
				display: block;
				width: 10rem;
				height: 1px;
				position: absolute;
				right: -11rem;
				top: 50%;
				transform: translateY(-50%);
				background: #333;
			}
		}
		.disc {
			font-size: 1.4rem;
		}
	}
	.swiper_box {
		background: $bgGary;
		.swiper {
			overflow: visible;
			.swiper-slide {
				padding: 1rem;
				border: 1px solid #ccc;
				.pic {
					border: 1px solid #eee;
					@include img;
				}
			}
		}
		.swiper-pagination {
			bottom: -3rem;
		}
		.swiper-pagination-bullet {
			border-radius: 0;
			transform: rotate(45deg);
			background: #fff;
			border: 1px solid $colorPoint-2;
		}
		.swiper-pagination-bullet-active {
			background: $colorPoint-2;
		}
	}
}
@include miniTable {
	#members {
		.title_wrap {
			h2 {
				font-size: 3.5rem;
				&::after {
					width: 20rem;
					right: -22rem;
				}
			}
			.disc {
				font-size: 2rem;
			}
		}
	}
}
@include tablet {
	#members {
		.swiper_box {
			.swiper-pagination {
				bottom: -4rem;
			}
			.swiper-pagination-bullet {
				width: 1rem;
				height: 1rem;
				margin: 0 0.5rem;
			}
		}
	}
}
