#notice {
	background: #eaf0f8;
	.inner {
		@include inner;
	}
	.title_wrap {
		position: relative;
		h2 {
			font-size: 3rem;
			position: relative;
			margin-bottom: 0.5em;
		}
		figure {
			display: none;
			width: 100%;
			height: 100%;
			@include img;
		}
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		li {
			width: 49%;
			margin-right: 2%;

			&:nth-of-type(2n) {
				margin-right: 0;
			}
			h2 {
				font: bold 2.5rem/1 $fontPoint;
			}
			&.post {
				border-top: 1px solid #333;
				padding: 2rem 1rem;
			}
			.title {
				font: 1.6rem/1.2 $fontPoint;
				margin-bottom: 0.5em;
				color: #333;
			}
			.comment {
				font-size: 1.2rem;
				line-height: 1.2;
				color: rgba(#333, 0.7);
			}
		}
	}
}

@include miniTable {
	#notice {
		.inner {
			display: flex;
			align-items: flex-start;
		}
		.title_wrap {
			width: 45%;
			padding-right: 4rem;
			h2 {
				font-size: 3.5rem;
				position: absolute;
				top: 1em;
				left: 1em;
				color: #fff;
				&::after {
					content: '';
					width: 10rem;
					height: 2px;
					position: absolute;
					bottom: -0.2em;
					left: 0;
					background: #fff;
				}
			}
			figure {
				display: block;
			}
		}
		.list_box {
			width: 55%;
			ul li {
				padding-bottom: 6rem;
				.title {
					font-size: 2rem;
				}
				.comment {
					font-size: 1.6rem;
				}
			}
		}
	}
}
