.community {
	article {
		display: flex;
		margin-bottom: 2rem;
		figure {
			width: 40%;
			@include img;
		}
		.cont {
			width: 60%;
			padding: 1rem;
			background: #fff;
			position: relative;
			// &::before {
			// 	content: '';
			// 	width: 50%;
			// 	height: 100%;
			// 	background: #fff;
			// 	position: absolute;
			// 	left: -8%;
			// 	top: 0;
			// 	transform: skew(-10deg);
			// }
			h3 {
				position: relative;
				z-index: 1;
				font-size: 1.6rem;
				color: $colorPoint-3;
				margin-bottom: 1em;
			}
			p {
				position: relative;
				font-size: 1.2rem;
			}
		}
	}
	.inner {
		@include inner;
	}
	.btn_wrap {
		justify-content: flex-end;
		margin-bottom: 2em;
	}
	.commu_list {
		ul {
			display: flex;
			flex-wrap: wrap;
			li {
				width: 100%;
				position: relative;
				border-top: 1px solid $colorDarkGary;
				padding: 2rem 1rem;
				.btn_wrap {
					width: auto;
					position: absolute;
					right: 1rem;
					margin-bottom: 0;
					button {
						margin-left: 0.5em;
					}
				}
				.num {
					font-size: 3rem;
					line-height: 1;
					font-family: $fontPoint;
					margin-bottom: 0.5em;
					color: $colorPoint-2;
				}
				.title {
					font: bold 1.6rem/1.3 $fontDefault;
					margin-bottom: 0.3em;
				}
				.comment {
					font-size: 1.4rem;
					color: $colorDarkGary;
					margin-bottom: 2em;
				}
				.date {
					font-size: 1.2rem;
					color: $colorDarkGary;
				}
			}
		}
	}
	.pop {
		background: rgba(255, 255, 255, 0.8);
		.inner {
			.input_box {
				background-color: #fff;
				box-shadow: 0px 0px 10px rgba(200, 200, 200, 0.8);
				padding: 2rem;
				margin-bottom: 2em;
			}
		}
	}
}
@include mobile {
	.community {
		article .cont {
			h3 {
				font-size: 2rem;
			}
			p {
				font-size: 1.8rem;
			}
		}
		.commu_list {
			ul {
				li {
					width: 49%;
					display: flex;
					flex-direction: column;
					margin-right: 2%;
					&:nth-of-type(2n) {
						margin-right: 0;
					}
					.date {
						margin-top: auto;
					}
					input[type='text'] {
						width: 100%;
						margin-right: 0;
					}
				}
			}
		}
	}
}
@include miniTable {
	.community {
		article {
			align-items: center;
			.cont {
				padding: 4rem;
				h3 {
					font-size: 3rem;
				}
				p {
					font-size: 2rem;
				}
			}
		}
		.commu_list {
			ul {
				li {
					width: 32%;
					min-height: 30rem;
					margin-right: 2%;
					&:nth-of-type(2n) {
						margin-right: 2%;
					}
					&:nth-of-type(3n) {
						margin-right: 0;
					}
					textarea {
						height: 15rem;
					}
				}
			}
		}
	}
}
@include tablet {
	.community article {
		figure {
			width: 30%;
		}
		.cont {
			width: 70%;
			padding: 9rem;
			h3 {
				margin-bottom: 1.5em;
			}
		}
	}
}
