.dapartment {
	.inner {
		@include inner;
		padding-top: 0;
	}
	.quote {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		.desc {
			position: relative;
			padding: 3rem;
			.quote_icon {
				font-size: 2.5rem;
				position: absolute;
				color: $colorPoint-3;
				&.fa-quote-left {
					top: 0;
					left: 0;
				}
				&.fa-quote-right {
					bottom: 0;
					right: 0;
				}
			}
		}
		h3 {
			font: 1.8rem/1 $fontPoint;
			margin-bottom: 0.5em;
		}
		p {
			font-size: 1.4rem;
		}
		.pic {
			width: 100%;
			@include img;
		}
	}
	.owner {
		width: 100%;
		padding: 1rem;
		.pic {
			@include img;
		}
		.name {
			font-size: 1.6rem;
			font-family: $fontPoint;
			position: relative;
			padding: 0.5em 0;
			margin-bottom: 0.5em;
			&:after {
				content: '';
				width: 5rem;
				height: 2px;
				position: absolute;
				bottom: 0;
				left: 0;
				background: $colorPoint-1;
			}
			span {
				font-size: 1.2rem;
				color: #888;
			}
		}
		p {
			font-size: 1.4rem;
		}
	}
	.info {
		display: none;
	}
	.depart_list {
		h3 {
			font-size: 1.8rem;
			color: $colorPoint-3;
			margin-top: 2em;
			margin-bottom: 1.5em;
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			li {
				width: 49%;
				position: relative;
				margin-right: 2%;
				margin-bottom: 4%;
				text-align: center;
				&:nth-of-type(2n) {
					margin-right: 0;
				}
				.effect_line {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					span {
						position: absolute;
						background: $colorPoint-3;
						transition: width 0.5s, height 0.5s;
					}
					span:nth-of-type(1) {
						width: 0;
						height: 1px;
						top: 0;
						left: 0;
					}
					span:nth-of-type(2) {
						width: 1px;
						height: 0;
						top: 0;
						right: 0;
					}
					span:nth-of-type(3) {
						width: 0;
						height: 1px;
						bottom: 0;
						right: 0;
					}
					span:nth-of-type(4) {
						width: 1px;
						height: 0;
						bottom: 0;
						left: 0;
					}
				}
				.sns_box {
					position: absolute;
					left: 1rem;
					right: 1rem;
					top: 1rem;
					bottom: 1rem;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: rgba(#777, 0.5);
					transition: opacity 0.5s;
					opacity: 0;
					.btn_icon {
						display: flex;
						align-items: center;
						justify-content: center;
						border-color: transparent;
						color: #fff;
						background: $colorPoint-2;
						margin-right: 0.5rem;
						margin-left: 0.5rem;
					}
				}
				&:hover {
					.effect_line {
						span:nth-of-type(1) {
							width: 100%;
						}
						span:nth-of-type(2) {
							height: 100%;
						}
						span:nth-of-type(3) {
							width: 100%;
						}
						span:nth-of-type(4) {
							height: 100%;
						}
					}
					.sns_box {
						opacity: 1;
					}
				}
			}
			.pic {
				@include img;
			}
			.name {
				font-size: 1.6rem;
				font-family: $fontPoint;
				position: relative;
				padding: 0.5em 0 1em;
				&::after {
					content: '';
					display: block;
					width: 3rem;
					height: 1px;
					position: absolute;
					left: 50%;
					bottom: 0.5em;
					transform: translateX(-50%);
					background: $colorPoint-1;
				}
			}
			.position {
				font: 1.4rem/1 $fontPoint;
				padding-bottom: 2rem;
				span {
					font-size: 1.2rem;
					color: $colorDarkGary;
				}
			}
		}
	}
}
@include mobile {
	.dapartment {
		.owner {
			display: flex;
			.pic {
				width: 40%;
			}
			.desc {
				width: 60%;
				padding-left: 2rem;
			}
		}
		.depart_list ul li {
			width: 32%;
			&:nth-of-type(2n) {
				margin-right: 2%;
			}
			&:nth-of-type(3n) {
				margin-right: 0;
			}
		}
	}
}
@include miniTable {
	.dapartment {
		.inner {
			padding-top: 0;
		}
		.quote {
			align-items: center;
			margin-bottom: 6rem;
			h3 {
				font-size: 2.4rem;
			}
			p {
				font-size: 1.6rem;
			}
			.desc {
				width: 50%;
			}
			.pic {
				width: 50%;
			}
		}
		.owner {
			display: flex;
			.desc {
				display: flex;
				flex-direction: column;
			}
			.name {
				font-size: 2rem;
				span {
					font-size: 1.4rem;
				}
			}
			p {
				font-size: 1.6rem;
			}
		}
		.info {
			display: flex;
			margin-top: auto;
			.item {
				width: 33%;
				text-align: center;
				.num {
					font: bold 7rem/1 $fontPoint;
				}
				.title {
					font: 1.6rem/1 $fontPoint;
					color: $colorDarkGary;
					margin-top: 0.5em;
				}
			}
		}
		.depart_list {
			h3 {
				font-size: 3rem;
			}
		}
	}
}
@include tablet {
	.dapartment {
		.quote {
			h3 {
				font-size: 4rem;
			}
			p {
				font-size: 1.8rem;
			}
		}
		.owner {
			.desc {
				padding-left: 4rem;
			}
			.name {
				font-size: 3rem;
			}
			p {
				font-size: 1.8rem;
			}
		}
		.info .item {
			.num {
				font-size: 9rem;
			}
			.title {
				font-size: 2rem;
			}
		}
		.depart_list {
			h3 {
				font-size: 4rem;
			}
			ul {
				li {
					width: 23%;
					margin-right: 2.6%;
					&:nth-of-type(3n) {
						margin-right: 2.6%;
					}
					&:nth-of-type(4n) {
						margin-right: 0;
					}
				}
				.name {
					font-size: 1.6rem;
				}
			}
		}
	}
}
