.join {
	.inner {
		@include inner;
		position: relative;
		padding: 0 3rem;
	}
	form {
		width: 100%;
		max-width: 60rem;
		margin: 0 auto;
		background: #fff;
		padding: 2rem;
		margin-top: 6rem;
		margin-bottom: 12rem;
		border: 1px solid #eee;
		legend {
			position: absolute;
			left: -9999px;
			text-indent: -9999px;
		}
		.form_wrap {
			display: flex;
			flex-wrap: wrap;
		}
		.input_group {
			width: 100%;
			margin-bottom: 2rem;
			.form_title {
				display: block;
				font-size: 1.8rem;
				font-family: $fontPoint;
				margin-bottom: 0.5em;
			}
			input[type='text'],
			input[type='password'] {
				border: 0;
				border-bottom: 1px solid #333;
				background: transparent;
			}
			.radio_group,
			.checkbox_group {
				label {
					font-size: 1.6rem;
					margin-left: 0.5rem;
					margin-right: 1rem;
				}
			}
			select {
				width: 100%;
				height: 3rem;
				border: 1px solid #333;
			}
		}
	}
	.bg_city {
		max-width: 60rem;
		height: 100%;
		position: absolute;
		top: -4%;
		left: calc(3rem + 4%);
		right: calc(3rem - 4%);
		z-index: -1;
		opacity: 0.5;
		@include img;
	}
}
@include tablet {
	.join {
		form {
			padding: 4rem 6rem;
		}
		.inner {
			padding-top: 0;
			// padding-bottom: 20rem;
		}
	}
}
