.location {
	.inner {
		@include inner;
	}
	form {
		max-width: 60rem;
		margin: 0 auto;
	}
	.info {
		background: #eee;
		padding: 3rem 0;
		margin-top: 4rem;
		.inner {
			display: flex;
			flex-wrap: wrap;
			padding: 0;
		}
		.item {
			font-size: 1.6rem;
			width: 50%;
			padding: 1em;
			.title {
				font-weight: bold;
				margin-bottom: 1rem;
			}
			.desc {
				font-size: 1.4rem;
			}
			.sns_box {
				display: flex;
				li {
					margin-right: 1rem;
					a {
						display: block;
						padding: 0.3em;
						position: relative;
						background: $colorPoint-1;
						border: 1px solid $colorPoint-1;
						svg {
							width: 60%;
							height: 60%;
							position: absolute;
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
							color: #eee;
						}
					}
				}
			}
		}
	}
	.send_mail {
		legend {
			font-size: 2rem;
			margin-bottom: 0.5em;
			text-align: center;
		}
		.desc {
			font-size: 1.4rem;
			text-align: center;
			margin-bottom: 2em;
		}
	}
	#map {
		width: 100%;
		height: 70vmin;
		background: #eee;
		margin-top: 10rem;
	}
}
@include mobile {
	.location {
		.info {
			.item {
				margin-bottom: 2rem;
			}
		}
		.send_mail {
			legend {
				font-size: 3rem;
				font-family: $fontPoint;
			}
			.form_group {
				display: flex;
				flex-wrap: wrap;
			}
		}
	}
}
