.location {
	.inner {
		@include inner;
	}
	.info {
		background: #eee;
		padding: 6rem 0;
		margin-top: 4rem;
		.inner {
			display: flex;
			flex-wrap: wrap;
			padding: 0;
		}
		.item {
			font-size: 1.6rem;
			width: 50%;
			.desc {
				font-size: 1.4rem;
			}
		}
	}
	.send_mail {
		legend {
			font-size: 2rem;
			margin-bottom: 0.5em;
			text-align: center;
		}
		.desc {
			font-size: 1.4rem;
			text-align: center;
			margin-bottom: 2em;
		}
		input,
		textarea {
			width: 100%;
			border: 1px solid #ccc;
			padding: 0.5em;
			margin-bottom: 0.5em;
		}
		textarea {
			height: 10rem;
			resize: none;
		}
	}
	#map {
		width: 100%;
		height: 70vmin;
		background: #eee;
		margin-top: 10rem;
	}
}
@include mobile {
	.location {
		.info {
			.item {
				margin-bottom: 2rem;
			}
		}
		.send_mail {
			legend {
				font-size: 3rem;
				font-family: $fontPoint;
			}
			.form_group {
				display: flex;
				flex-wrap: wrap;

				input[type='text'] {
					width: 49%;
					&:first-of-type {
						margin-right: 2%;
					}
				}
				textarea {
					height: 20rem;
				}
			}
		}
	}
}
