// 반응형 단위
$breakpoint-narrow: 320px;
$breakpoint-mobile: 640px;
$breakpoint-miniTable: 840px;
$breakpoint-tablet: 1200px;
$breakpoint-wide: 1920px;
// 색상
$colorWh: #fff;
$colorBk: #333;
$colorLightGray: #eee;
$colorDarkGary: #777;
$bgGary: #eee;
$bgLight: #fafafa;
$colorPoint-1: #1d8ddc;
$colorPoint-1-5: #7db9e8;
$colorPoint-2: #6060e7;
$colorPoint-3: #161b7f;
$colorCaution: #ec0013;

$fontColor: #dfb15b;

// 폰트 ======================
$fontDefault: 'Noto Sans JP', sans-serif;
$fontPoint: 'Poppins', sans-serif;
// 폰트사이즈
$fontTitle: 2.4rem;
$fzBasic: 1.6rem;
