// abstracts
@import './abstracts/variables';
@import './abstracts/mixins';
// common
@import './common/reset';
@import './common/header';
@import './common/footer';
@import './common/layout';
@import './common/popup';
@import './common/input';
@import './common/menu';
// main
@import './main/visual';
@import './main/gallery';
@import './main/notice';
@import './main/vids';
@import './main/members';
@import './main/btns';

// sub
@import './sub/department';
@import './sub/youtube';
@import './sub/community';
@import './sub/gallery';
@import './sub/location';
@import './sub/join';
//fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Poppins:wght@100;300;500;700&display=swap');
