// abstracts
@import './abstracts/variables';
@import './abstracts/mixins';
// common
@import './common/reset';
@import './common/header';
@import './common/footer';
@import './common/layout';
@import './common/popup';
// main
@import './main/visual';

// sub
@import './sub/department';
@import './sub/youtube';
@import './sub/gallery';
//fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Poppins:wght@100;300;500;700&display=swap');
